<!-- <%= link_to 'Grocery lists', controller: 'lists' %> -->
<%= render "users/shared/logmenu" %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		<h1>Click here to make something new!</h1>
			<%= link_to 'New list', new_list_path, class: 'btn btn-default btn-lg btn-block' %>
		</div>
	</div>
</div>
<p>
<h1>Lists</h1>
</p>
<div class="container table-responsive">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Title</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @lists.each do |list| %>
				<tr>
					<td class="col-xs-3"><%= list.updated_at.localtime.strftime("%d/%m/%Y %H:%M") %></td>
					<td class="col-xs-7"><h4><%= link_to list.title, list, class: 'clickable-td' %></h4></td>
					<td class="col-xs-2">
					<%= link_to 'Edit', edit_list_path(list), class: 'btn btn-warning' %>
					<%= link_to 'Delete', list_path(list), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	</div>

</div>
